@model Bluegrass.Models.PersonViewModel
@{
    Layout = "_Layout";

    var personId = Model.Id;
    var actionType = Model.ActionType;
    var createMode = !string.IsNullOrEmpty(actionType) && (bool)actionType?.Equals("create");
    var editMode = !string.IsNullOrEmpty(actionType) && (bool) actionType?.Equals("modify");

    var personData = Model.Person;
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card mb-4">
        <h5 class="card-header">Profile Details</h5>
        <!-- Account -->
        <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center gap-4">
            <img
                src="~/assets/img/avatars/1.png"
                alt="user-avatar"
                class="d-block rounded"
                height="100"
                width="100"
                id="uploadedAvatar"
            />
            <div class="button-wrapper">
                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                <span class="d-none d-sm-block">Upload new photo</span>
                <i class="bx bx-upload d-block d-sm-none"></i>
                <input
                    type="file"
                    id="upload"
                    class="account-file-input"
                    hidden
                    accept="image/png, image/jpeg"
                />
                </label>
                <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                <i class="bx bx-reset d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Reset</span>
                </button>

                <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
            </div>
            </div>
        </div>
        <hr class="my-0" />
        <div class="card-body">
            <div id="formAccountSettings">
                <div class="row">
                    <div class="mb-3 col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <input
                        class="form-control"
                        type="text"
                        id="firstName"
                        name="firstName"
                        placeholder="First Name"
                        value="@personData?.Name"
                        autofocus
                    />
                    </div>
                    <div class="mb-3 col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input class="form-control" type="text" name="lastName" id="lastName" placeholder="Last Name" value="@personData?.Surname" />
                    </div>
                    <div class="mb-3 col-md-6">
                    <label for="gender" class="form-label">Gender</label>
                    <select id="gender" class="select2 form-select">
                        <option value="">Select Currency</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    </div>
                    <div class="mb-3 col-md-6">
                    <label for="email" class="form-label">E-mail</label>
                    <input
                        class="form-control"
                        type="text"
                        id="email"
                        name="email"
                        placeholder="john.doe@example.com"
                        value="@personData?.Contact?.Email"
                    />
                    </div>
                    <div class="mb-3 col-md-6">
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">SA (+27)</span>
                        <input
                        type="text"
                        id="phoneNumber"
                        name="phoneNumber"
                        class="form-control"
                        placeholder="02 555 0111"
                        value="@personData?.Contact?.Mobile"
                        />
                    </div>
                    </div>
                    <div class="mb-3 col-md-6">
                    <label for="state" class="form-label">City</label>
                    <input class="form-control" type="text" id="city" name="city" placeholder="Pretoria" value="@personData?.Address?.City"/>
                    </div>
                    <div class="mb-3 col-md-6">
                    <label for="state" class="form-label">Province</label>
                    <input class="form-control" type="text" id="state" name="state" placeholder="California" />
                    </div>
                    <div class="mb-3 col-md-6">
                    <label class="form-label" for="country">Country</label>
                    <select id="country" class="select2 form-select">
                        <option value="">Select</option>
                        <option value="Australia">Australia</option>
                        <option value="Bangladesh">Bangladesh</option>
                        <option value="Belarus">Belarus</option>
                        <option value="Brazil">Brazil</option>
                        <option value="Canada">Canada</option>
                        <option value="China">China</option>
                        <option value="France">France</option>
                        <option value="Germany">Germany</option>
                        <option value="India">India</option>
                        <option value="Indonesia">Indonesia</option>
                        <option value="Israel">Israel</option>
                        <option value="Italy">Italy</option>
                        <option value="Japan">Japan</option>
                        <option value="Korea">Korea, Republic of</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Philippines">Philippines</option>
                        <option value="Russia">Russian Federation</option>
                        <option value="South Africa">South Africa</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Turkey">Turkey</option>
                        <option value="Ukraine">Ukraine</option>
                        <option value="United Arab Emirates">United Arab Emirates</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="United States">United States</option>
                    </select>
                    </div>
                </div>
                <div class="mt-2">
                    @if (createMode)
                    {
                        <button onclick="CreatePerson()" class="btn btn-primary me-2">Create Person</button>   
                    }
                    @if (editMode)
                    {
                        <button onclick="ModifyPerson()" class="btn btn-primary me-2">Edit Person</button>   
                    }
                    <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                </div>
            </div>
        </div>
        <!-- /Account -->
        </div>
        <div class="card">
        <h5 class="card-header">Delete Account</h5>
        <div class="card-body">
            <div class="mb-3 col-12 mb-0">
            <div class="alert alert-warning">
                <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete the account?</h6>
                <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
            </div>
            </div>
            <form id="formAccountDeactivation" onsubmit="return false">
            <div class="form-check mb-3">
                <input
                class="form-check-input"
                type="checkbox"
                name="accountActivation"
                id="accountActivation"
                />
                <label class="form-check-label" for="accountActivation"
                >I confirm the account deactivation</label
                >
            </div>
            <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>
            </form>
        </div>
    </div>
</div>

<!-- Create Script -->
<script>
    async function CreatePerson() {
        const personData = {
            "Name": $('#firstName').val(),
            "Surname": $('#lastName').val(),
            "Gender": $('#gender').val(),
            "Address": {
                "Country": $('#country').val(),
                "City": $('#city').val()
            },
            "Contact": {
                "Email": $('#email').val(),
                "Mobile": $('#phoneNumber').val()
            }
        }

        $.postJSON('/api/person', personData, async function(r) {
            // first confirmation
        }).done(async function(r) {
            // Do swal here
            Swal.fire({
                      icon: 'success',
                      title: 'Person Successfully created',
                      text: 'Click OK to be redirected to the Person Detail Screen.',
                      backdrop: `
                        rgba(0,0,123,0.4)
                        url("/images/nyan-cat.gif")
                        left top
                        no-repeat
                      `
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.replace('/person?id=1');
                        }
                    })
        }).fail(async function(r) {
            Swal.fire({
                  icon: 'error',
                  title: 'Person creation failed!',
                  text: 'Something went wrong, please contact your system administrator or try again later!',
                  backdrop: `
                    rgba(0,0,123,0.4)
                    url("/images/patrick-sad.gif")
                    left top
                    no-repeat
                  `
                })
        }).always(async function(r) {

        })
    }
</script>

<!-- Modify Script -->
<script>

    async function ModifyPerson() {
        const personData = {
            "Id": '@personId',
            "Name": $('#firstName').val(),
            "Surname": $('#lastName').val(),
            "Gender": $('#gender').val(),
            "Address": {
                "Country": $('#country').val(),
                "City": $('#city').val()
            },
            "Contact": {
                "Email": $('#email').val(),
                "Mobile": $('#phoneNumber').val()
            }
        }

        $.putJSON('/api/person/@personId', personData, async function(r) {
            // first confirmation
        }).done(async function(r) {
            // Do swal here
            Swal.fire({
                      icon: 'success',
                      title: 'Person Successfully modified',
                      text: 'Click OK to be redirected to the Person Detail Screen.',
                      backdrop: `
                        rgba(0,0,123,0.4)
                        url("/images/nyan-cat.gif")
                        left top
                        no-repeat
                      `
                    })
        }).fail(async function(r) {
            Swal.fire({
                  icon: 'error',
                  title: 'Person creation failed!',
                  text: 'Something went wrong, please contact your system administrator or try again later!',
                  backdrop: `
                    rgba(0,0,123,0.4)
                    url("/images/patrick-sad.gif")
                    left top
                    no-repeat
                  `
                })
        }).always(async function(r) {

        })
    }
</script>